---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Banner from "../components/Banner.astro";
import Content from "../components/Content.astro";
import ServiceCard from "../components/ServiceCard.astro";
// import Services from '../components/Services.astro';
import Service from "../components/Service";

const services = [
	{
		title: "Integrating drones, 3D scanning, and AI in infrastructure inspection improves efficiency, safety, and cost-effectiveness.",
		subTitle: "AI Infrastructure Inspection",
		features: [
			{
				feature: "Cutting-Edge Solution",
				details: "Ombrulla leverages AI, drones, and IoT technologies to transform infrastructure inspection.",
			},
			{
				feature: "Real-Time Insights",
				details: "Real-time insights enhance inspection efficiency, safety, and reduce conventional challenges",
			},
			{
				feature: "Longevity and Cost-Effectiveness",
				details: "Ombrulla ensures the longevity and safety of critical infrastructure while offering a cost-effective solution.",
			},
			{
				feature: "Responsive Maintenance",
				details: "Embracing Ombrulla enhances infrastructure management, increasing reliability and responsiveness, and reducing risks",
			},
		],
	},
	{
		title: "Enhancing Manufacturing Quality with Computer Vision and Machine Learning-Driven Automated Visual Inspection",
		subTitle: "AI Defect Detection",
		features: [
			{
				feature: "Automated Defect Detection",
				details: "Automated visual inspection in manufacturing uses computer vision and machine learning to identify defects autonomously.",
			},
			{
				feature: "Advanced Image Processing",
				details: "It captures and enhances digital images for relevant feature extraction",
			},
			{
				feature: "Informed Decision-Making",
				details: "The system classifies defects, aiding manufacturers in quality control decisions",
			},
			{
				feature: "Real-Time Quality Assurance",
				details: "Integration with manufacturing enables real-time quality control, reducing substandard product risks",
			},
		],
	},
	{
		title: "Data-driven decision-making with AI can help businesses make better decisions that can have a real impact on their bottom line.",
		subTitle: "AI Data Analytics",
		features: [
			{
				feature: "Actionable Insights",
				details: "AI data analytics provides actionable insights, enabling better decision-making and personalized customer experiences.",
			},
			{
				feature: "Increased Customer Loyalty",
				details: "Personalized recommendations and services enhance customer satisfaction, leading to higher loyalty and retention rates.",
			},
			{
				feature: "Quality Assurance",
				details: "AI analytics identifies and mitigates potential issues, ensuring product and service quality and reliability.",
			},
			{
				feature: "Efficiency and Responsiveness",
				details: "Customers benefit from increased efficiency, improved product quality, and more responsive interactions with businesses.",
			},
		],
	},
];
---

<Layout title="Ombrulla">
	<!-- <Navbar/> -->
	<div class="grid row-auto h-screen">
		<div class="h-screen">
			<div><Menu /></div>
			<div><Banner /></div>
			<div><Content /></div>
		</div>
		{services.map((d, i) => <ServiceCard index={i} {...d}/>)}
		<div class="mt-96"><Service /></div>
	</div>
</Layout>

<style></style>
