<div class="mt-24 mx-24">
    <div class="container">
        <div class="flex justify-between grid-col-2">
            <div class="w-1/2">
                
                <h1 class="text-7xl font-space-grotesk">Manual Inspection is <span class="text-blue-600"> Slow & Error-Prone</span></h1>
                <p class="mt-10 font-medium		 leading-6 text-slate-400 font-space-grotesk">AI-driven computer vision for precise Quality Inspection


                </p>
            </div>
            <div class="w-1/2">
                <img src="laptop.png" alt="" class="ml-14">
            
            </div>
        </div>
    </div>
</div>