<div>
    <div class="mx-16 ">
        <div class="relative flex items-center">
            <div class="inner-div-1 w-1/2 h-24">
                <h2 class="font-bold font-space-grotesk text-2xl">AI Infrastructure Inspection <br/><br/></h2>
                <h3 class="text-3xl	font-bold">
                    Enhancing Manufacturing Quality with Computern Automated Visual Inspection

                    <br/><br/></h3>
                <!-- <p class="text-slate-400" <span class=" font-black text-xl text-black"> .</span><span class="font-medium text-black	">Actionable Insights</span>: AI data analytics provides actionable insights, enabling better decision-making and personalized customer experiences. <br/><span class=" font-black text-xl 	text-black	">.</span><span class="font-medium text-black	">Increased Customer Loyalty</span>: Personalized recommendations and services enhance customer satisfaction, leading to higher loyalty and retention rates. <br/><span class=" font-black text-xl	text-black	">.</span><span class="font-medium text-black	">Quality Assurance</span>: AI analytics identifies and mitigates potential issues, ensuring product and service quality and reliability. <br/><span class=" font-black text-xl	text-black	">.</span><span class="font-medium text-black	">Efficiency and Responsiveness</span>: Customers benefit from increased efficiency, improved product quality, and more responsive interactions with businesses.</p> -->
                <ul class="list-disc pl-5 text-slate-400">
                    <li><span class="  font-medium text-black">Cutting-Edge Solution</span>: Ombrulla leverages AI, drones, and IoT technologies to transform infrastructure inspection.</li>
                    <li><span class=" font-medium text-black">Real-Time Insights</span>: Real-time insights enhance inspection efficiency, safety, and reduce conventional challenges</li>
                    <li><span class=" font-medium text-black">Longevity and Cost-Effectiveness</span>: Ombrulla ensures the longevity and safety of critical infrastructure while offering a cost-effective solution.</li>
                    <li><span class=" font-medium text-black">Responsive Maintenance</span>: Embracing Ombrulla enhances infrastructure management, increasing reliability and responsiveness, and reducing risks</li>
                  </ul>
                  
            </div>
            <div class="inner-div-1 w-auto h-24 ">
                <img src="card01.png" alt="" class="absolute z-10 ml-16">
                <div class="mt-60 mr-32 	"><img src="card-01-1.png" alt="" class=" absolute z-20 ml-16 rounded-lg border-white	border-8 border-solid		"></div>
               
            </div>
        </div>
    </div>
</div>