<div class="mt-10 mx-24 ">
    <div class="container">
        <div class="grid-col-auto flex gap-5  justify-between">
            <div>
                <img src="logo.svg" alt="" class="w-26 h-8">
            </div>
            <div class="flex gap-10 font-bold font-space-grotesk">
                <div class="">Home</div>
                <div>About</div>
                <div>Service</div>
                <div>Page</div>
                <div>Blog</div>
                <div>contact</div>
            </div>
        </div>
    </div>
</div>